body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#game-container {
    text-align: center;
    max-width: 600px; /* Define a largura máxima do contêiner do jogo */
    margin: auto; /* Centraliza o contêiner do jogo horizontalmente */
    padding: 20px; /* Adiciona algum espaço interno */
}

.game-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hide {
    display: none;
}

/* Estilo para botões comuns */
.btn {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    width: 100%; /* Ocupa toda a largura do contêiner pai */
    box-sizing: border-box; /* Inclui o padding e a borda na largura total */
}

/* Estilo para botões mais estreitos */
.btn-small {
    width: auto; /* Largura automática, se ajusta ao conteúdo */
    padding: 12px 25px; /* Menor preenchimento interno */
    font-size: 1rem; /* Tamanho de fonte um pouco menor */
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.correct-answer {
    background-color: #28a745 !important;
}

.wrong-answer {
    background-color: #dc3545 !important;
}

#timer-bar {
    height: 5px;
    background-color: #007bff;
    margin-top: 10px;
}

#game-over {
    animation-duration: 2s;
}

.game-over-animation {
    animation-name: slideIn;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

#feedback-icons {
    font-size: 3rem;
    margin-top: 20px;
}

#statistics {
    margin-top: 20px;
}

#statistics p {
    font-size: 1.2rem;
    margin: 5px;
}

#statistics p span {
    font-weight: bold;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* Estilo para ocultar a imagem específica */
#zero-score-image {
    display: none;
}

/* indicando que o jogo já foi iniciado e não há necessidade de mostrar o botão de início novamente. */
#start-button.hide {
    display: none;
}

/* Show the "Next Question" button after the game starts */
#next-button {
    display: none;
}

/* Estilos para mensagens de troféu */
#trophy-message {
    font-size: 1.3rem; /* Ajusta o tamanho da fonte */
    font-weight: bold; /* Adiciona negrito para destacar a mensagem */
    margin-top: 10px; /* Adiciona espaço extra acima da mensagem */
}

#question-text {
    font-size: 1.2rem; /* Ajuste o tamanho da fonte */
}

/* Ajuste de estilo para o contêiner do troféu */
#trophy-container {
    margin-top: 20px; /* Adiciona espaço extra acima do contêiner do troféu */
}

/* Estilos para o contêiner de estatísticas */
#statistics {
    margin-top: 20px; /* Adiciona espaço extra acima do contêiner de estatísticas */
}

/* Estilo para o texto da introdução */
#introduction {
    font-size: 1.2rem; /* Define o tamanho da fonte */
}

/* Estilo para o temporizador */
#time-container {
    font-size: 1rem; /* Define o tamanho da fonte */
    margin-top: 10px; /* Adiciona espaço extra acima do temporizador */
}

/* Estilo para o texto do temporizador */
#timer-value {
    font-weight: bold; /* Adiciona negrito ao texto */
}

/* Estilo para a pontuação final */
#final-score {
    font-size: 1,2rem; /* Define o tamanho da fonte */
    font-weight: bold; /* Adiciona negrito ao texto */
    margin-bottom: 20px; /* Adiciona espaço extra abaixo do texto */
}

/* Estilo para o contêiner de troféu */
#trophy-container {
    margin-top: 20px; /* Adiciona espaço extra acima do contêiner de troféu */
}

/* Estilo para o botão de reiniciar o jogo */
.restart-btn {
    margin-top: 20px; /* Adiciona espaço extra acima do botão */
}

/* Estilo para os ícones de feedback */
.feedback-icon {
    margin: 10px; /* Adiciona espaço entre os ícones */
}

/* Estilo para a animação do botão */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes alert {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.alert-animation {
    animation: alert 0.5s infinite alternate; /* Aplica a animação de alerta */
}

/* Estilo para o botão */
#start-button {
    animation: pulse 2s infinite; /* Aplica a animação "pulse" ao botão */
}

.restart-btn {
    animation: pulse 2s infinite; /* Aplica a animação "pulse" ao botão de reiniciar jogo */
}

#start-btn, #restart-btn {
    width: 30px; /* Defina a largura desejada */
}

@media only screen and (max-width: 600px) {
    .game-title {
        font-size: 1.7rem; /* Reduz o tamanho do título em telas menores */
    }
    .btn {
        font-size: 0.9rem; /* Reduz o tamanho dos botões em telas menores */
    }
    #introduction {
        font-size: 1.1rem; /* Reduz ainda mais o tamanho da introdução em telas menores */
    }
    #question-text {
        font-size: 1.1rem; /* Reduz o tamanho do texto da pergunta em telas menores */
    }
    #trophy-message {
        font-size: 1.2rem; /* Reduz o tamanho da mensagem de troféu em telas menores */
    }
    #final-score {
        font-size: 1rem; /* Reduz o tamanho da pontuação final em telas menores */
    }
}